.cards {
    padding: 4rem;
    background: #fff;
}

.cards h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    text-shadow: 3px 5px 2px #4747477a;
}

.cards-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}

.cards-wrapper {
    position: relative;
    margin: 50px 0 45px;
}

.cards-items {
    margin-bottom: 24px;
}

.card-item {
    display: flex;
    flex: 1;
    margin: 1rem;
    border-radius: 10px;
}

.card-item-link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.025));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.cards-item-pic {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
}

.fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
}

.cards-item-pic::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: white;
    background-color: #1f98f4;
    box-sizing: border-box;
}

.card-item-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: .6s ease-in-out;
}

.card-item-img:hover {
    transform: scale(1.2);
}

.card-item-info {
    padding: 20px 30px 30px;
}

.card-item-text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
}

@media only screen and (min-width: 1200px) {
    .content-blog-container {
        width: 84%;
    }
}

@media only screen and (min-width: 1024px) {
    .cards-items {
        display: flex;
    }
}

@media only screen and (max-width: 1024px) {
    .cards-item {
        margin-bottom: 2rem;
    }
    .card-item {
        margin: 2.5rem 1rem;
    }
}

@media screen and (max-width: 676px) {
    .cards h1 {
        font-size: 35px;
        margin-top: 10%;
    }
    .card-item-img:hover {
        transform: none;
    }
    .cards {
        padding: 1.5rem;
    }
    .card-item-info {
        padding: 15px;
    }
    .cards-item-pic::after {
        font-size: 16px;
        margin-left: 15px;
        padding: 6px 10px;
    }
}

@media screen and (max-width: 500px) {
    .cards {
        padding: 0.5rem;
    }
}