/* stadium - subpage css */

.item {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 94vw;
    max-height: 100vh;
    min-height: 80vh;
    margin: 0px auto;
    padding: 8rem 0 0 1.5rem;
}

.item-half {
    margin: 0 auto;
    width: 50%;
}

.item-pic {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
}

.item-img {
    transition: .4s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 95%;
    max-width: 100%;
    max-height: 100%;
    /*object-fit: cover;*/
}

.item-img:hover {
    transform: scale(1.05);
}

.item h2 {
    padding-top: 5px;
    text-transform: uppercase;
    text-shadow: 3px 5px 2px #b1b1b1;
    font-size: 26px;
}

.fa-star {
    color: gold;
    font-size: 14px;
    padding: 0 1.5px;
    text-shadow: 1px 1px 1px black;
}

.item-info {
    max-width: 70%;
    margin: 30px auto;
    font-size: 19px;
}

.item-half p span {
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.item-half h1 {
    /*color: gold;*/
    font-size: 37px;
    padding-top: 10px;
}

.reserveBtn {
    cursor: pointer;
    font-size: 24px;
    margin-left: 5%;
    background: gold;
    color: black;
}

.reserveBtn:hover {
    background: black;
    color: white;
}

.setTicket {
    font-size: 40px;
    color: black;
    border: 1px solid black;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setTicket:nth-of-type(1) {
    padding-bottom: 5px;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}

.btns span {
    font-size: 37px;
    margin: 0 1rem;
}

.tickets {
    padding: 2% 0 3%;
    font-weight: bold;
    font-style: italic;
    font-size: 19px;
}

@media screen and (max-width: 1200px) {
    .item-img {
        height: 90%;
        margin-top: 7%;
    }
    .item {
        padding-left: 1rem;
    }
    .item-half h1 {
        font-size: 34px;
    }
    .btns span {
        font-size: 33px;
    }
    .item-info {
        margin: 20px auto 30px;
        font-size: 16px;
    }
    .setTicket {
        width: 40px;
        height: 40px;
    }
    .tickets {
        padding-top: 0;
    }
    .reserveBtn {
        font-size: 22px;
    }
}

@media screen and (max-width: 1050px) {
    .item-img {
        margin-top: 0;
        height: 85%;
    }
    .item {
        flex-direction: column;
        padding: 5% 0;
        justify-content: space-around;
        max-width: 100%;
        max-height: 100%;
    }
    .item-pic {
        padding-top: 75%;
    }
    .item-half {
        width: 80%;
    }
    .tickets {
        padding: 0 5% 2%;
    }
    .reserveBtn {
        margin-left: 8%;
        font-size: 20px;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 900px) {
    .item-half {
        width: 83%;
    }
    .item h2 {
        font-size: 28px;
    }
    .item-info {
        font-size: 17px;
    }
    .tickets {
        font-size: 19px;
    }
    .item-half p span {
        font-size: 16px;
    }
    .fa-star {
        font-size: 15px;
    }
    .item {
        justify-content: unset;
    }
}

@media screen and (max-width: 730px) {
    .item-half {
        width: 85%;
    }
    .item-info {
        margin: 25px auto 45px;
        max-width: 85%;
    }
    .item {
        padding: 10% 0;
    }
}

@media screen and (max-width: 600px) {
    .item-half {
        width: 90%;
    }
    .setTicket {
        padding-bottom: 5px;
        font-size: 35px;
    }
}

@media screen and (max-width: 450px) {
    .item h2 {
        white-space: nowrap;
        font-size: 21px;
    }
    .item-info {
        max-width: 90%;
    }
    .tickets {
        text-align: center;
        padding: 0 0 7%;
        font-style: normal;
    }
    .btns {
        justify-content: center;
        padding: 0;
    }
}